/* Write your CSS here */
/* Write your CSS here */
.pie-container {
  background-color: #1c1c2b;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}
.heading {
  text-align: flex-start;
  color: #94a3b8;
  font-weight: bold;
  font-family: roboto;
  font-size: 20px;
}
